target/
.DS_Store
dist/
node_modules/
node/
nbproject/
Thumbs.db
nb-configuration.xml
.travis.yml
.*.swp
*/.classpath
*/.project
*/.settings
.project
.settings
/logs/
**/.idea
.vscode
**/*.iml
webstart/
nbaction*.xml
.bash_profile
*~
bitbucket

bitbucket\.pub
classes/
hs_err*.log
.java-version
