<!DOCTYPE html>
<html layout:decorate="~{layout/home}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Home</title>
    </head>
    <body id="page-top">
        <div id="content" class="dashboard-bg" layout:fragment="content" >
            <h1>Some sweet content</h1>
        </div>
    </body>
</html>
